$icon-font-path: "/bower_components/bootstrap-sass-official/vendor/assets/fonts/bootstrap/";
// bower:scss
@import "../../bower_components/bootstrap-sass-official/vendor/assets/stylesheets/bootstrap.scss";
// endbower
* {
    border: 0;
    outline: none;
    margin: 0;
    padding: 0;
}
html {
    padding: 0;
    margin: 0;
    outline: none;
    border: 0;
    overflow: hidden;
}
body {
    padding: 0;
    margin: 0;
    width: 100%;
    overflow: hidden;
    min-height: 500px;
    height: 500px;
}
a, img {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
}
.sisu {
    width: 100%;
    padding: 0;
    margin: 0;
    outline: none;
    border: 0;
    background-image: url(../images/01.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    overflow: hidden;
    text-align: center;
    min-height: 500px;
    height: 500px;
    #logo {
        position: relative;
        margin: 0 auto;
        top: 33%;
        z-index: 99;
        img {
            -webkit-animation: ani-sec1-swlogo 1s ease 0 1 alternate forwards;
            -webkit-backface-visibility: hidden;
        }
    }
    .share {
        position: relative;
        top: 20%;
        height: 78px;
        z-index: 100;
        img {
            display: inline-block;
            width: 81px;
            height: 78px;
            position: relative;
            left: 30%;
            opacity: 0.4;
            z-index: 100;
        }
    }
    ul.menu {
        list-style-type: none;
        margin-bottom: 0;
        position: relative;
        top: 35%;
        z-index: 99;
        li {
            display: inline-block;
            margin-left: 45px;
        }
    }
    ul.share-menu {
        list-style-type: none;
        margin-bottom: 0;
        position: relative;
        z-index: 99;
        li {
            position: relative;
            display: inline-block;
            opacity: 0.5;
            &.hidden-item {
                opacity: 0;
            }
            a {
                img {
                    width: 70px;
                    height: 70px;
                }
            }
            &#weixin {
                top: -60px;
                left: 120px;
                -webkit-transition: all 0.5s ease 0s;
            }
            &#renren {
                top: -160px;
                left: 150px;
                -webkit-transition: all 0.5s ease 0.2s;
            }
            &#weibo {
                top: -220px;
                left: 130px;
                -webkit-transition: all 0.5s ease 0.4s;
            }
        }
    }
}
// animation
@-webkit-keyframes ani-sec1-swlogo{
    0% {-webkit-transform:rotateY(180deg);}
    100% {-webkit-transform:rotateY(0deg);}
}
