body.list > div.box-wrapper {
	overflow: auto;
	height: auto;
	min-height: 600px;
}
.title-wrapper {
	height: 50px;
	background: #EBEBEB;
	padding-left: 15px;
	.title-item {
		color: #949494;
		line-height: 50px;
		font-size: 30px;
	}
}
.list-wrapper {
	ul.list-wrapper-list {
		list-style-type: none;
		display: table;
		width: 100%;
		li.list-wrapper-item {
			display: table-row;
			border-bottom:1px solid #000;
			span.logo, span.title {
				display: table-cell;
				vertical-align: middle;
			}
			span.title {
				font-size: 30px;
				overflow: hidden;
				padding-left: 10px;
			}
			span.logo {
				border-radius: 10px;
				height: 100px;
				width: 100px;
				background-position: center;
				background-size: 90px;
				background-repeat: no-repeat;
			}
		}
		margin-bottom: 0px;
	}
}